
.TituloDiseño{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: lightcoral;
    border-radius: 8px;
}

.Imagentitulo111{
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.Imagentitulo222{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.cartilla{
    display: flex;
    gap: 5px;
    align-items: center;
    height: 60px;
}


.diseñoTexto{

    color: white;
    font-size: 32px;

}