.layout {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid:
    "sidebar body" 1fr
    / 220px 1fr;
}

@media (max-width: 768px) {
  .layout {
      display: grid;

    grid:
      "sidebar body" 1fr
      / 210px 1fr;
  }

  .navbar-title{
    display: none;
  }
  .panel{
    display: none !important;
  }
}

/* .slidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: 1px solid #e6e6e6;
  background: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
} */

.body {
  grid-area: body;
}

nav {
  height: 45px;
  color: #4F4F4F;
  padding: 0 5px;
  border-bottom: 1px solid #e6e6e6;
}

