.btnsidebar{
    background: #dbd9de;
    color: #403A3A;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding: 5px;
    margin: 10px;  
    border-radius: 5px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-optical-sizing:auto;
}

.btnsidebar:hover{
  background: #bab8bc;
}

 .icono{
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
} 


