.Inicio{
    background-color: greenyellow;
}

.Nav{
    display: flex;
    align-items: center;
    background: white;
    height: 8%;
    width: 100%;
    padding: 5px;
}

.TituloNavegacion{
    flex: 2;
}

.divBuscar{
    display: flex;
    align-items: center;
    background: #BCBCBC;
    border-radius: 5px;
    height: 80%;
    width: 20%;
    padding: 1px;
  
}
.divInput{
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 5px;
}

.divInput input{
    border: none;
    background-color: transparent;

}

.divInput img{
    width: 10px;
    height: 10px;
}