.Cotizador {
  display: grid;
  grid:
    "formulario panel" 1fr
    / 4fr 1.5fr;
  height: 100%;
}

.formulario {
  grid-area: formulario;
  /* border: 1px solid black; */
  height: 100%;
  padding-left: 20px;
}

.panel {
  grid-area: panel;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
}

.labelInput {
  color: #1e1e1e;
}

.labelItem {
  font-weight: bold;
  font-size: 12px;
}

.inputDatos {
  /* border: 1px solid #C4C4C4; */
  border: none;
  background: #ebebeb;
  height: 20px;
  padding: 0 2px;
  outline: 0.5px solid transparent;
  box-sizing: border-box;
}

.inputDatos:focus,
.inputDatos:active {
  outline: 0.5px solid #257ef2;
  border-radius: 3px;
  background: white;
}

.inputDatos[type="date"] {
  padding: 2px 0 2px 2px;
  /* border: 1px solid #828181; */
  height: 24px;
}

.inputChildren {
  display: flex;
  align-items: center;
}

.labelIcon {
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #787474;
  width: 20px;
  height: 20px;
  background: #ebebeb;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.labelIcon:hover {
  background: #d4d4d4;
  color: black;
}

.desplegarPanel {
  margin: 15px 0 0 0;
  cursor: pointer;
  border: 1px solid #C4C4C4;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.lateralPanel {
  width: 8%;
}
.contenidoPanel {
  width: 91%;
  gap: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-left: 1px solid #C4C4C4;
}

.btnPanel, .btnAgregar {
  background: #257ef2;
  color: white;
  border: none;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.btnAgregar{
  width: 200px;
}

.btnPanel:nth-child(3) {
  background: #d9d9d9;
  color: #403a3a;
}

/*casillas*/

.casillas {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 3px;
  height: 22px;
  width: 100%;
}

.simboloCasilla {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
  width: 15px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.tituloCasilla{
  width: 50%;
  padding: 2px;
  display: flex;
  justify-content: space-around;
}

.importesCasilla{
  width: 50%;
  display: flex; gap: 5px;
  
}

.textoCasila {
  color: #1e1e1e;
  background: #FEF7F7;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
    padding: 2px;
  width: 70%;
}



/* contenido panel tamaños */


.MonedaPago{
  height: 15%;
}

.FechaPanel{
  height: 8%;
}

.NCotizacionPanel{
  height: 8%;
}

.ResumenPanel{
  height: 17%;
}

.observaciones {
display: flex;
flex-direction: column;
gap: 3px;
height: 22%;
}
.accionesPanel{
  height: 19%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}




table {
        border-collapse: collapse;
        width: 100%; /* Example: Make table span full width */
                margin-top: 20px;
                font-size: 12px;
    }

th, td {
        border: 1px solid #ccc; /* Light grey border for cells */
        padding: 8px; /* Spacing inside cells */
        text-align: left; /* Default text alignment */

    }

