.Cotizador {
  display: grid;
  grid:
    "formulario panel" 1fr
    / 4fr 1.5fr;
  height: 100%;
}

.formulario {
  grid-area: formulario;
  /* border: 1px solid black; */
  height: 100%;

}

.panel {
  grid-area: panel;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
}

.labelInput {
  color: #1e1e1e;
}

.labelItem {
  font-weight: bold;
  font-size: 12px;
}

.inputDatos {
  /* border: 1px solid #C4C4C4; */
  border: none;
  background: #ebebeb;
  height: 20px;
  padding: 0 2px;
    outline: 0.5px solid transparent;
  box-sizing: border-box;
}

.inputDatos:focus,.inputDatos:active {
  outline: 0.5px solid #257ef2;
  border-radius: 3px;
  background: white;
}

.inputDatos[type="date"] {
  padding: 2px 0 2px 2px;
  /* border: 1px solid #828181; */
  height: 24px;
}

.inputChildren {
  display: flex;
  align-items: center;
}

.labelIcon {
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #787474;
  width: 20px;
  height: 20px;
  background: #ebebeb;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.labelIcon:hover {
  background: #d4d4d4;
  color: black;
}


.desplegarPanel{
  cursor: pointer;
  border: 1px solid #787474;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.contenidoPanel{
  display: flex;
  flex-direction: column;
}

.btnPanel{
  background: #257ef2;
  color: white;
  border: none;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.btnPanel:nth-child(3){
  background: #D9D9D9;
  color: #403A3A;
}

.observaciones{
  border-radius: 10px;
  margin: 5px 0;
}

table {
        border-collapse: collapse;
        width: 100%; /* Example: Make table span full width */
                margin-top: 20px;
    }

th, td {
        border: 1px solid #ccc; /* Light grey border for cells */
        padding: 8px; /* Spacing inside cells */
        text-align: left; /* Default text alignment */

    }

