.imagenlogo {
    width: 300px;
    height: 300px;
}

.iniciocuerpo {
 display:flex;
 flex-direction: column;
}

.encabezado {
    display: flex;
    flex-direction: row;
    height: 270px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.tablasranking {
    display: flex;
    flex-direction: column;    
    gap: 10px;
    padding: 0 50px;
    padding-top: 20px;
    width: 30%;

}

.reseña{
    font-style: italic;
    text-align: center;
    padding: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.reseña p{
    font-weight: bold;
    font-size: 30px;


}

.imageninicio {
    width: 20%;

}

.recursos {
    width: 60%;

}

.segundaparte{
    display: flex;
    flex-direction: row;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}