.rec {
    display: flex;
    flex-direction: row;
}

.rec2 {
    width: 33.3333%;
    text-align: center;
}

.rec ion-icon {
    width: 150px;
    height: 150px;
}

.pie {
    text-align: right;
    padding-top: 70px;
}

.pie ion-icon {
    padding-left: 30px;
    width: 30px;
    height: 30px;
}

.nr {
    padding-bottom: 30px;
}