

.padreBoton {
  color: rgb(31, 29, 29);
  margin: 2px;
  padding: 6px;
  cursor: pointer; 
  border-radius: 4px;
  border-color: rgb(236, 245, 245);
}

.bSelected{
  color: aliceblue;
  background: rgb(92, 174, 222);

}
.cuerpo {

  margin: 20px;

}

