.info-usuario {
  display: flex;
  flex-direction: column;
}

.card-info {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 5px;
}

.card-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.card-usuario {
  display: flex;
  align-items: center;

  height: 40px;
}

.card-usuario p:nth-child(1) {
  font-weight: bold;
}
.card-usuario p:nth-child(2) {
  font-size: 12px;
}

.charUsuario{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #c0bcbc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}