

.padreBoton {
  color: rgb(31, 29, 29);
  margin: 2px;

  padding: 6px;
  
  cursor: pointer; /*la propiedad cursor le indica al navegador que modo de cursor debe aplicarse*/
  border-radius: 4px;
  border-color: rgb(236, 245, 245);
}

.bSelected{
  color: aliceblue;
  background: rgb(92, 174, 222);

}
.cuerpo {
/* aca se modifico la propiedad margin a padding: ??; este toma valores numericos*/
  padding: 10px;
}

